.container {
	background: url("../../assets/bg3.jpg");
	background-attachment: fixed;
}
.title {
	grid-column-end: span 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #f300b4;
}

.title h3 {
	font-size: 2.4rem;
	color: #f300b4;
}
.separator {
	background: #f300b4;
	width: 150px;
	height: 2px;
	margin: 1rem 0;
	padding: 0;
}

.subtitle {
	font-size: 1.6rem;
	text-align: center;
	color: inherit;
	padding-bottom: 1.5rem;
}

p {
	padding-bottom: 1.5rem;
	color: #555;
	line-height: 1.9rem;
}

.desc.full {
	grid-column-end: span 4;
	margin-bottom: 2rem;
}

.desc {
	grid-column-end: span 2;
	background: #ffffffaa;
	padding: 2rem;
	text-align: justify;
}

@media only screen and (max-width: 1149px) {
	.root article {
		grid-template-columns: 1fr;
		grid-gap: 0;
	}
	.root .desc.full {
		grid-column-end: -1;
	}

	.root .desc {
		grid-column-end: -1;
	}
}
@media only screen and (max-width: 949px) {
	.root {
		clip-path: polygon(0 0, 20% 2%, 100% 0, 100% 100%, 80% 98%, 0 100%);
		background-position: top left;
		background-size: cover;
	}
}
@media only screen and (max-width: 649px) {
	.root .wrapper {
		padding: 10rem 2rem 8rem;
	}
}
.root {
	font-size: 1.4rem;
	position: relative;
	background: #fafafa;
	clip-path: polygon(0 0, 20% 5%, 100% 0, 100% 100%, 80% 95%, 0 100%);
	z-index: 5;
	background-attachment: fixed;
	background-image: url("../../assets/bg3.jpg");
}

.wrapper {
	padding: 5rem 1rem 2rem;
	max-width: 1400px;
	margin: 0 auto;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.container button {
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #9909ac;
	color: #fff;
	padding: 8px 16px;
	font-size: 28px;
	margin: 20px 0;
	padding-left: 20px;
	padding-right: 20px;
	width: auto;
	text-align: center;
}
.container button:hover {
	background: #fff;
	color: #9909ac;
}

.container button:focus {
	outline: none;
	box-shadow: 0 0 0 4px #640670;
	/* border: 5px solid #181d23; */
}
